<div id="<%= dom_id vacation_range %>">
  <p>
    <strong>Start date:</strong>
    <%= vacation_range.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= vacation_range.end_date %>
  </p>

</div>
