<h1>Editing vacation range</h1>

<%= render "form", vacation_range: @vacation_range %>

<br>

<div>
  <%= link_to "Show this vacation range", @vacation_range %> |
  <%= link_to "Back to vacation ranges", vacation_ranges_path %>
</div>
